

.menu-container .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container .menu-content h2 {
    font-weight: bold;
    font-size: 21pt;
    letter-spacing: 1.2px;
    color: #0C090A;
    text-align: center;
}

.menu-container .menu-content p {
    margin-top: 1.2em;
    line-height: 1.2em;
    color: #1A1110;
    font-size: 10pt;
}

.menu-card-grid {
    margin: 1em auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 300px)); */
    gap: 1rem .6rem;
    justify-content: center;
    place-self: center;
    max-width: 1300px;
}

.card-body {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .15);
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.card-body img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.card-body .card-content {
    display: flex;
    justify-content: space-between;
    padding: 1.2em .6em;
}

.card-body .card-content .card-title span {
    display: block;
}

.card-body .card-content .card-title span:nth-child(1) {
    font-weight: bold;
}

.card-body .card-content .card-title span:nth-child(2) {
    font-size: .65em;
    width: fit-content;
}

.card-body .card-content .card-price {
    color: brown;
    font-size: large;
}

.row{
    height: fit-content;
}