@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* untuk bagian media query ada di line 379 */

* {
    --navicon-width: 40px;
    --navicon-height: 40px;
    --navicon-right-space: 10px;
    --navbar-fontsize: .9em;
    --small-fontsize: small;
    --object-cover: cover;
    --e8-color: #e8e8e8;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
    background: #e8e8e8;
}

/* .smol {
    font-size: var(--navbar-fontsize);
}

.custom-image {
    width: var(--navicon-width);
    height: var(--navicon-height);
    margin-right: var(--navicon-right-space);
    object-fit: var(--object-cover);
    overflow: visible;
} */

/* First Navbar */
header {

    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    transition: 0.3s;
    padding: 30px 100px;
}

.navbar-brand>a>img {
    width: 80px;
    height: 80px;
    transition: 0.3s;
}

.navbar-link {
    margin-top: -20px;
    position: relative;
    margin-right: -65px;
}

.navbar-link>ul {
    position: relative;
    display: flex;

}

.navbar-link>ul>li {
    list-style: none;
}

.navbar-link>ul>li>a {
    position: relative;
    margin: 0px 48px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.navbar-link>ul>li>a:hover {
    color: white;
}

.navbar-link>ul>li>a::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0px;
    height: 3px;
    left: 0px;
    bottom: -1px;
    transition: 0.3s;
    border-radius: 50px;
}

.navbar-link ul li:nth-child(2) a::after {
    background-color: white;
    width: 100%;
}

.navbar-link>ul>li>a:hover::after {
    width: 100%;
}

header>img {
    position: absolute;
    width: 59%;
    right: 0px;
    top: 0px;
    z-index: -1;
    transition: 0.3s;
    opacity: 100%;
}

/* First Humburger Menu */
.menu-toggle {
    margin-right: -50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    position: relative;
}

.menu-toggle span {
    width: 28px;
    height: 3px;
    display: block;
    background-color: white;
    border-radius: 3px;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
}

/* Humburger Menu Animasi */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    transition: 0.6s;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -1px);
    background-color: white;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
    transition: 1s;
}

.menu-toggle input:checked~span:last-child {
    transform: rotate(-45deg) translate(-1.8px, 0);
    background-color: white;
}

.menu-toggle span:nth-child(3) {
    transition: 0.6s;
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Last Humberger Menu */

/* First Fitur javascript Navbar */
header.sticky-header {
    padding: 8px 100px;
    height: 100px;
    background-color: #fff;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.04));
    border-radius: 0px 0px 30px 30px;
}

header.sticky-header .navbar-brand a img {
    width: 50px;
    height: 50px;
}

header.sticky-header .navbar-link ul {
    margin-top: 25px;
}

header.sticky-header .navbar-link ul li a {
    color: black;
}

header.sticky-header ul li a:hover {
    color: black;
}

header.sticky-header .navbar-link ul li a::after {
    content: "";
    position: absolute;
    background-color: #d19c4c;
    width: 0px;
    height: 3px;
    left: 0px;
    bottom: -1px;
    transition: 0.1s;
    border-radius: 50px;
}

header.sticky-header .navbar-link ul li:nth-child(2) a::after {
    width: 100%;
    background-color: #d19c4c;
}

header.sticky-header .navbar-link ul li a:hover::after {
    width: 100%;
}

header.sticky-header>img {
    opacity: 0%;
}

/* Last Fitur Javascript Navbar */
/* Last Navbar */

.pembungkus-ajaib {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
    column-gap: 2em;
    position: relative;
    padding: 2em;
}

.pembungkus-ajaib .content {
    position: relative;
    top: 7em;
    width: 90%;
    max-width: 450px;
    height: fit-content;
}

.pembungkus-ajaib .content h1 {
    font-size: 25pt;
    font-weight: bold;
}

.pembungkus-ajaib .content p {
    line-height: 2em;
    color: #28282B;
    font-size: 10pt;
    max-width: 450px;
}

.pembungkus-ajaib img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 68% 32% 79% 21% / 36% 53% 47% 64%;
}

.menu-container {
    margin-top: 100px;
}

.menu-container .category-input {
    margin-left: 2em;
}

.menu-container .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container .menu-content h2 {
    font-weight: bold;
    font-size: 21pt;
    letter-spacing: 1.2px;
    color: #0C090A;
    text-align: center;
}

.menu-container .menu-content p {
    margin-top: 1.2em;
    line-height: 1.2em;
    color: #1A1110;
    font-size: 10pt;
}

.menu-card-grid {
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 1.5rem .6rem;
    justify-content: center;
    place-self: center;
    max-width: 1300px;
}

.card-body {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .15);
    width: 295px;
    height: fit-content;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.card-body img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.card-body .card-content {
    display: flex;
    justify-content: space-between;
    padding: 1.2em .6em;
}

.card-body .card-content .card-title span {
    display: block;
}

.card-body .card-content .card-title span:nth-child(1) {
    font-weight: bold;
}

.card-body .card-content .card-title span:nth-child(2) {
    font-size: .65em;
    width: fit-content;
}

.card-body .card-content .card-price {
    color: brown;
    font-size: medium;
}

/* First Footer */
footer {
    margin-top: 10em;
    width: 100%;
    height: 425px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.isi-footer1 {
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.img-footer {
    width: 267.28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-footer>img {
    width: 180px;
}

.icon-sosmed {
    position: relative;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-footer {
    width: 454.28px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 50px;
}

.head-text-footer h6 {
    line-height: 30px;
    font-size: 24px;
    color: white;
}

.head-text-footer h6 span {
    color: #ec9e06;
}

.body-text-footer p {
    font-size: 15px;
    color: white;
}

.isi-footer2 {
    width: 100%;
    background-color: #1d1d1b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.isi-footer2 p {
    margin-top: 10px;
}

/* Last Footer */

/* bagian media query */
/* First Media Screen layar Sangat Besar 1920px */
/* ANCHOR - layar sangat besar 1920px */
@media (max-width: 1920px) {
    body {
        overflow-x: hidden;
    }

    /* First Navigasi Bar */
    nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 38%;
    }

    /* Last Navigasi Bar */

    /* First Container 2 */
    .box-container2 {
        width: 1000px;
        height: 500px;
    }

    .box-container2 h1 {
        font-size: 58px;
    }

    .box-container2>p {
        font-size: 17px;
        margin-top: 30px;
    }

    .bubble-effect {
        top: 15%;
        left: 32.5%;
        gap: 15px;
    }

    .bubble1 {
        width: 300px;
        padding-top: 30px;
    }

    .bubble1 p {
        font-size: 14px;
    }

    .bubble2 {
        width: 230px;
        padding-top: 30px;
    }

    .bubble2 p {
        font-size: 14px;
    }

    /* Last Container 2 */

    /* First Container 3 */
    .container3 {
        height: 600px;
    }

    .banner {
        width: 75%;
        height: 60%;
        object-fit: cover;
    }

    /* Last Container 3 */

    /* First Container 4 */
    .container4 {
        padding: 0 220px;
    }

    .container4 h1 {
        font-size: 45px;
    }

    .garis1 {
        width: 450px;
    }

    .garis2 {
        width: 450px;
    }

    /* Last Container 4 */

    /* First Container 5 */
    .container5 {
        margin-top: 120px;
        gap: 150px;
    }

    .card {
        width: 340px;
        height: 480px;
    }

    .head-card img {
        position: absolute;
        width: 240px;
        height: 190px;
        left: calc(47.8% - 221.7px / 2 + 0.35px);
        top: 40px;
        border-radius: 10px;
        object-fit: cover;
    }

    .body-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 25px;
        position: absolute;
        width: 241px;
        left: calc(50% - 241px / 2);
        top: 260px;
    }

    .body-card h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }

    .body-card p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: justify;
        letter-spacing: 0.05px;
    }

    /* Last Container 5 */

    /* First Container 6 */
    .container6 {
        gap: 90px;
    }

    .container6 img {
        width: 640px;
        height: 700px;
        object-fit: cover;
    }

    .body-container6 {
        width: 740px;
        gap: 30px;
    }

    .isi-body-container6 {
        gap: 35px;
    }

    .isi-body-container6 h2 {
        font-size: 42px;
    }

    .isi-body-container6 p {
        font-size: 18px;
    }

    /* Last Container 6 */

    /* First Container 7 */
    .container7 {
        gap: 450px;
    }

    .img-container7 img {
        width: 450px;
        height: 450px;
    }

    .rating {
        gap: 100px;
    }

    .rating h2 {
        font-size: 45px;
    }

    /* Last Container 7 */

    /* First Container 8 */
    .container8 {
        margin-bottom: 180px;
        margin-top: 420px;
        gap: 100px;
    }

    .container8 h2 {
        font-size: 42px;
    }

    .daily-update {
        gap: 130px;
    }

    .head-daily-card img {
        width: 400px;
        height: 400px;

    }

    /* Last Container 8 */

    /* First Footer */
    .isi-footer1 {
        gap: 650px;
        height: 480px;
    }

    .img-footer>img {
        width: 200px;
    }

    .text-footer {
        width: 460px;
        gap: 40px;
    }

    .head-text-footer h6 {
        font-size: 32px;
        line-height: 40px;
    }

    .body-text-footer p {
        font-size: 18px;
        color: white;
    }

    .isi-footer2 {
        padding-top: 12px;
        height: 40px;
    }

    .isi-footer2 p {
        font-size: 18px;
    }

    /* Last Footer */

}

/* ANCHOR - layar besar 1366px */
/* First Media Screen Layar Besar */
@media (max-width: 1366px) {
    body {
        overflow-x: hidden;
    }

    /* First Navbar */

    .navbar-brand>a>img {
        width: 80px;
        height: 80px;
        transition: 0.3s;
    }

    .navbar-link {
        margin-top: -25px;
        position: relative;
        margin-right: -95px;
    }

    .navbar-link>ul>li {
        list-style: none;
    }

    .navbar-link>ul>li>a {
        margin: 0px 48px;
    }

    /* Last Navbar */

    /* First Container 2 */
    .box-container2 {
        width: 800px;
        height: 400px;
    }

    .box-container2 h1 {
        font-size: 52px;
    }

    .box-container2>p {
        font-size: 15px;
        margin-top: 24px;
    }

    .bubble-effect {
        top: 10%;
        left: 33%;
        gap: 15px;
    }

    .bubble1 {
        width: 255px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .bubble1 p {
        font-size: 12px;
    }

    .bubble2 {
        width: 190px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .bubble2 p {
        font-size: 12px;
    }

    /* Last Container 2 */

    /* First Container 3 */
    .banner {
        width: 75%;
        height: 48%;
    }

    /* Last Container 3 */

    /* First Container 4 */
    .container4 {
        padding: 0 120px;
    }

    .garis1 {
        width: 290px;
    }

    .container4 h1 {
        font-size: 40px;
    }

    .garis2 {
        width: 290px;
    }

    /* Last Container 4 */

    /* First Container 5 */
    .container5 {
        width: 100vw;
        gap: 100px;
        margin-top: 70px;
    }

    .card {
        width: 281px;
        height: 430px;
    }

    .head-card img {
        width: 221.7px;
        height: 170.83px;
        left: calc(50% - 221.7px / 2 + 0.35px);
        top: 24px;
    }

    .body-card {
        gap: 25px;
        width: 241px;
        left: calc(50% - 241px / 2);
        top: 224px;
    }

    .body-card h2 {
        font-size: 28px;
    }

    .body-card p {
        font-size: 15px;
    }

    /* Last Container 5 */

    /* First Container 6 */
    .container6 {
        gap: 35px;
        margin-top: 150px;
    }

    .container6 img {
        width: 480px;
        height: 580px;
        object-fit: cover;
    }

    .body-container6 {
        width: 520px;
        gap: 30px;
    }

    .isi-body-container6 {
        gap: 12px;
    }

    .isi-body-container6 h2 {
        font-size: 32px;
    }

    .isi-body-container6 p {
        font-size: 15px
    }

    /* Last Container  6 */

    /* First Container 7 */
    .container7 {
        gap: 300px;
    }

    .img-container7 img {
        width: 300px;
        height: 300px;
    }

    .rating h2 {
        font-size: 32px;
    }

    .star-rating img {
        width: 50px;
        height: 50px;
    }

    /* Last Container 7 */

    /* First Container 8 */
    .container8 {
        margin-bottom: 180px;
        margin-top: 400px;
        gap: 60px;
    }

    .container8 h2 {
        font-size: 32px;
    }

    .daily-update {
        gap: 60px;
    }

    .head-daily-card img {
        width: 310px;
        height: 310px;
    }

    /* Last Container 8 */

    /* First Footer */
    .isi-footer1 {
        height: 395px;
        gap: 400px;
    }

    .img-footer>img {
        width: 140px;
    }

    .head-text-footer h6 {
        font-size: 24px;
    }

    .body-text-footer p {
        font-size: 15px;
        color: white;
    }

    .isi-footer2 {
        height: 40px;
    }

    .isi-footer2 p {
        font-size: 16px;
    }

    /* Last Footer */

}

/* Last Media Screen layar Besar */

/* ANCHOR - Layar tablet 991px */
/* First Media Screen Tablet*/
@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    /* First Navbar */
    .navbar-brand>a>img {
        width: 60px;
        height: 60px;
        margin-left: -50px;
        margin-top: -40px;
        transition: 0.3s;
    }


    .navbar-link {
        position: relative;
        /* height: 50px; */
        padding-top: 12px;
        margin-right: -65px;
        width: 85%;
    }



    header>img {
        object-fit: contain;
        position: absolute;
        width: 70%;
        right: -1px;
        top: -29px;
        height: 160px;
        z-index: -1;
        transition: 0.3s;
        opacity: 100%;
    }

    header.sticky-header .navbar-brand a img {
        width: 50px;
        height: 50px;
        margin-top: 0px;
    }

    header.sticky-header .navbar-link ul {
        margin-top: 35px;
    }


    /* Last Navbar */

    /* First Container 2 */
    .container2 {
        height: 100vh;
    }

    .box-container2 h1 {
        font-size: 42px;
    }

    .box-container2>p {
        font-size: 12px;
        width: 670px;
    }

    .bubble-effect {
        left: 27%;
    }

    .bubble1 {
        width: 235px;
    }

    .bubble1 p {
        font-size: 10px;
    }

    .bubble2 {
        width: 166px;
    }

    .bubble2 p {
        font-size: 10px;
    }

    /* Last Container 2 */

    /* First Container 3 */
    .banner {
        width: 72%;
        height: 42%;
    }

    /* Last Container 3 */

    /* First Container 4 */
    .container4 {
        padding: 0 68px;
    }

    .garis1 {
        width: 180px;
    }

    .container4 h1 {
        font-size: 30px;
    }

    .garis2 {
        width: 180px;
    }

    /* Last Container 4 */

    /* First Container 5 */
    .container5 {
        gap: 40px;
    }

    .card {
        width: 220px;
        height: 360px;
    }

    .head-card img {
        width: 170px;
        height: 130px;
        left: calc(61% - 221.7px / 2 + 0.35px);
        top: 35px;
        object-fit: cover;
    }

    .body-card {
        width: 190px;
        left: calc(62% - 241px / 2);
        top: 195px;
    }

    .body-card h2 {
        font-size: 22px;
    }

    .body-card p {
        font-size: 12px;
    }

    /* Last Container 5 */

    /* First Container 6 */
    .container6 {
        flex-direction: column;
        gap: 80px;
        margin-top: 140px;
    }

    .container6 img {
        width: 480px;
        height: 420px;
        object-fit: cover;
    }

    .body-container6 {
        width: 700px;
    }

    .isi-body-container6 h2 {
        font-size: 28px;
    }

    .isi-body-container6 p {
        font-size: 14px;
    }

    /* Last Container 6 */

    /* First Container 7 */
    .container7 {
        gap: 140px;
    }

    .img-container7 img {
        width: 260px;
        height: 260px;
    }

    .rating h2 {
        font-size: 30px;
    }

    .star-rating {
        gap: 10px;
    }

    .star-rating img {
        width: 40px;
        height: 40px;
    }

    /* Last Container 7 */

    /* First Container 8 */
    .container8 {
        margin-bottom: 150px;
    }

    .container8 h2 {
        font-size: 30px;
    }

    .daily-update {
        gap: 35px;
    }

    .head-daily-card img {
        width: 215px;
        height: 215px;
    }

    /* Last Container 8 */

    /* First Footer */
    .isi-footer1 {
        gap: 225px;
    }

    .img-footer>img {
        width: 140px;
    }

    .text-footer {
        width: 320px;
    }

    .head-text-footer h6 {
        font-size: 20px;
    }

    .body-text-footer p {
        font-size: 12px;
    }

    .isi-footer2 p {
        font-size: 12px;
    }

    /* Last Footer */
}

/* last Media Screen Tablet */

/* ANCHOR - Layar hp besar(tablet mini) 768px */
/* First Media Screen Hp Besar(Tablet Mini) */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    /* First Navbar */
    .navbar-brand>a>img {
        width: 70px;
        height: 70px;
        transition: 0.3s;
        margin-top: -15px;
    }

    .navbar-link {
        margin-right: -130px;
        width: 100%;
        gap: 100px;
        margin-top: -40px;
    }

    .navbar-link>ul>li>a {
        position: relative;
        margin: 0px 33px;
        font-size: 15px;

    }


    header>img {
        object-fit: contain;
        position: absolute;
        width: 70%;
        right: -1px;
        top: -32px;
        height: 160px;
        z-index: -1;
        transition: 0.3s;
        opacity: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: fill;


    }

    /* Last Navbar */

    /* First Container 2 */
    .box-container2 h1 {
        font-size: 40px;
    }

    .box-container2>p {
        font-size: 12px;
        width: 630px;
    }

    .bubble-effect {
        left: 23.5%;
    }

    /* Last Container 2 */

    /* First Container 4 */
    .container4 {
        padding: 0 80px;
    }

    .garis1 {
        width: 165px;
    }

    .container4 h1 {
        font-size: 27px;
    }

    .garis2 {
        width: 165px;
    }

    /* Last Container 4 */

    /* First Container 5 */
    .container5 {
        gap: 32px;
    }

    .body-card h2 {
        font-size: 20px;
    }

    /* Last Container 5 */

    /* First Container 6 */
    .body-container6 {
        width: 650px;
    }

    /* Last Container 6 */

    /* First Container 7 */
    .container7 {
        gap: 120px;
    }

    .img-container7 img {
        width: 240px;
        height: 240px;
    }

    .star-rating img {
        width: 35px;
        height: 35px;
    }

    /* Last Container 7 */

    /* First Container 8 */
    .container8 h2 {
        font-size: 28px;
    }

    .daily-update {
        gap: 28px;
    }

    /* Last Container 8 */

    /* First Footer */
    .isi-footer1 {
        gap: 200px;
    }

    .img-footer>img {
        width: 120px;
    }

    .head-text-footer h6 {
        font-size: 18px;
    }

    .body-text-footer p {
        font-size: 10px;
    }

    .isi-footer2 p {
        font-size: 10px;
    }

    /* Last Footer */
}

/* Last Media Screen Hp Besar (Tablet Mini)*/

/* ANCHOR - Layar hp normal 575px */
/* First Media Screen Hp Normal */
@media (max-width: 575px) {
    body {
        overflow-x: hidden;
    }

    /* First Navbar */

    header {
        background-color: #1d1d1b;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar-link ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        background-color: darkgoldenrod;
        align-items: flex-start;
        justify-content: center;
        gap: 10%;
        transition: all 1s;
    }

    header.sticky-header .navbar-link ul li a {
        color: white;
        opacity: 0;
    }

    .navbar-link {
        position: relative;
        margin-right: -1205px;
        display: none;
    }

    .navbar-brand>a>img {
        margin-top: 10px;
        margin-left: -60px;
        transition: 0.3s;
    }


    .nav-logo a img {
        width: 50px;
        height: 50px;
    }

    nav ul li {
        padding-left: 100px;
        transform: translate(0, 30px);
    }

    .sticky-header {
        height: 70px;
    }

    .sticky-header .nav-logo a img {
        width: 45px;
        height: 45px;
    }

    .sticky-header .menu-toggle span {
        background-color: black;
    }

    .slide {
        right: 300px;
        overflow: hidden;
    }


    header>img {
        position: absolute;
        width: 0%;
        right: 0px;
        top: 0px;
        z-index: -1;
        transition: 0.3s;
        opacity: 100%;
    }

    /* Last Navbar */

    .pembungkus-ajaib {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
        column-gap: 2em;
        position: relative;
        padding: 2em;
    }

    .pembungkus-ajaib .content {
        position: relative;
        top: 1rem;
        width: 90%;
        max-width: 400px;
        height: fit-content;
    }

    .pembungkus-ajaib .content h1 {
        font-size: 30pt;
        font-weight: bold;
    }

    .pembungkus-ajaib .content p {
        line-height: 2em;
        color: #28282B;
        font-size: 10pt;
        max-width: 450px;
    }

    .pembungkus-ajaib img {
        width: 350px;
        height: 350px;
        position: relative;
        top: 3rem;
        object-fit: cover;
        border-radius: 68% 32% 79% 21% / 36% 53% 47% 64%;
    }

    /* First Navbar */
    .navbar-link {
        position: relative;
        margin-right: -205px;
    }

    .navbar-brand>a>img {

        margin-left: -60px;
        transition: 0.3s;
    }

    header>img {
        position: absolute;
        width: 0%;
        right: 0px;
        top: 0px;
        z-index: -1;
        transition: 0.3s;
        opacity: 100%;
    }

    /* Last Navbar */

    /* First Container 2 */
    .container2 {
        border-radius: 0px 0px 40px 0px;
        padding-top: 30px;
    }

    .box-container2 h1 {
        font-size: 29px;
        width: 300px;
        text-align: center;
    }

    .box-container2>p {
        font-size: 11px;
        width: 310px;
    }

    .bubble-effect {
        left: 15%;
    }

    .bubble1 {
        width: 170px;
        padding-top: 12px;
        padding-left: 20px;
    }

    .bubble1 p {
        font-size: 10px;
    }

    .bubble2 {
        width: 130px;
        padding-top: 12px;
        padding-left: 16px;
    }

    .bubble2 p {
        font-size: 10px;
    }

    /* Last Container 2 */

    /* First Container 3 */
    .container3 {
        height: 300px;
    }

    .banner {
        width: 75%;
        height: 38%;
    }

    /* Last Container 3 */

    /* First Container 4 */
    .container4 {
        padding: 0 47px;
    }

    .garis1 {
        display: none;
    }

    .container4 h1 {
        font-size: 22px;
    }

    .garis2 {
        width: 90px;
    }

    /* Last Container 4 */

    /* First Container 5 */
    .container5 {
        gap: 50px;
        margin-top: 50px;
        flex-direction: column;
    }

    .card {
        width: 281px;
        height: 380px;
    }

    .head-card img {
        width: 221.7px;
        height: 170.83px;
        left: calc(50% - 221.7px / 2 + 0.35px);
        top: 24px;
        object-fit: cover;
    }

    .body-card {
        gap: 25px;
        width: 241px;
        left: calc(50% - 241px / 2);
        top: 224px;
    }

    .body-card h2 {
        font-size: 22px;
    }

    .body-card p {
        font-size: 12px;
    }

    /* Last Container 5 */

    /* First Container 6 */
    .container6 {
        gap: 40px;
        margin-top: 120px;
    }

    .container6 img {
        width: 280px;
        height: 260px;
        object-fit: cover;
    }

    .body-container6 {
        width: 282px;
    }

    .isi-body-container6 h2 {
        font-size: 24px;
    }

    .isi-body-container6 p {
        font-size: 12px;
    }

    /* Last Container 6 */

    /* First Container 7 */
    .container7 {
        gap: 90px;
        flex-direction: column;
        top: 100px;
    }

    .img-container7 img {
        width: 210px;
        height: 210px;
    }

    .rating {
        gap: 20px;
    }

    .rating h2 {
        font-size: 22px;
    }

    .star-rating img {
        width: 28px;
        height: 28px;
    }

    /* Last Container 7 */

    /* First Container 8 */
    .container8 {
        margin-top: 250px;
        margin-bottom: 100px;
    }

    .container8 h2 {
        font-size: 22px;
        width: 280px;
        text-align: center;
    }

    .daily-update {
        gap: 35px;
        flex-direction: column;
    }

    .head-daily-card img {
        width: 275px;
        height: 275px;
        object-fit: cover;
    }

    /* Last Container 8 */

    /* First Footer */
    footer {
        margin-top: 200px;
    }

    .isi-footer1 {
        gap: 50px;
        flex-direction: column;
        height: 400px;
    }

    .img-footer>img {
        width: 100px;
    }

    .text-footer {
        width: 280px;
    }

    .head-text-footer h6 {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .body-text-footer p {
        font-size: 8px;
        text-align: center;
    }

    .isi-footer2 p {
        font-size: 8px;
    }

    /* Last Footer */
}

/* Last Media Screen Hp Normal */

/* ANCHOR - Layar hp kecil 360px */
/* First Media Screen Hp Kecil */
@media (max-width: 360px) {
    body {
        overflow-x: hidden;
    }

    .pembungkus-ajaib {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        column-gap: 2em;
        position: relative;
        padding: 2em;
    }

    .pembungkus-ajaib .content {
        position: relative;
        top: 1rem;
        width: 90%;
        height: fit-content;
    }

    .pembungkus-ajaib .content h1 {
        font-size: 25pt;
        font-weight: bold;
    }

    .pembungkus-ajaib .content p {
        line-height: 2em;
        color: #28282B;
        font-size: 10pt;
        max-width: 450px;
    }

    .pembungkus-ajaib img {
        width: 300px;
        height: 300px;
        position: relative;
        top: 3rem;
        object-fit: cover;
        border-radius: 68% 32% 79% 21% / 36% 53% 47% 64%;
    }

    /* First Navbar */
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        background-color: darkgoldenrod;
        align-items: flex-start;
        justify-content: center;
        gap: 10%;
        transition: all 1s;
    }


    .nav-logo a img {
        width: 50px;
        height: 50px;
    }

    nav ul li {
        padding-left: 50px;
        transform: translate(0, 30px);
    }

    .sticky-header {
        height: 70px;
    }

    .sticky-header .nav-logo a img {
        width: 45px;
        height: 45px;
    }

    .sticky-header .menu-toggle span {
        background-color: black;
    }

    .slide {
        right: 300px;
        overflow: hidden;
    }

    /* Last Navbar */

    /* First Container 2 */
    .container2 {
        height: 100vh;
    }

    .box-container2 {
        margin-top: 50px;
    }

    .box-container2 h1 {
        font-size: 22px;
        width: 300px;
    }

    .box-container2>p {
        font-size: 8px;
        width: 260px;
    }

    .bubble-effect {
        left: 24.5%;
        top: 8%;
    }

    .bubble1 {
        width: 100px;
        padding-top: 12px;
        padding-left: 10px;
    }

    .bubble1 p {
        font-size: 7.5px;
    }

    .bubble2 {
        width: 70px;
        padding-top: 12px;
        padding-left: 10px;
    }

    .bubble2 p {
        font-size: 7.5px;
    }

    /* Last Container 2 */

    /* First Container 3 */
    .container3 {
        height: 250px;
    }

    .banner {
        width: 75%;
        height: 38%;
    }

    /* Last Container 3 */

    /* First Container 4 */
    .container4 {
        padding: 0 47px;
    }

    .container4 h1 {
        font-size: 20px;
    }

    .garis2 {
        width: 50px;
    }

    /* Last Container 4 */

    /* First Container 5 */
    .container5 {
        gap: 50px;
        margin-top: 50px;
        flex-direction: column;
    }

    .card {
        width: 220px;
        height: 340px;
    }

    .head-card img {
        width: 180px;
        height: 140px;
        left: calc(60% - 221.7px / 2 + 0.35px);
        top: 24px;
        object-fit: cover;
    }

    .body-card {
        width: 190px;
        left: calc(62% - 241px / 2);
        top: 200px;
    }

    .body-card h2 {
        font-size: 18px;
    }

    .body-card p {
        font-size: 10px;
    }

    /* Last Container 5 */

    /* First Container 6 */
    .container6 {
        gap: 40px;
        margin-top: 120px;
    }

    .container6 img {
        width: 240px;
        height: 220px;
        object-fit: cover;
    }

    .body-container6 {
        width: 240px;
    }

    .isi-body-container6 h2 {
        font-size: 18px;
    }

    .isi-body-container6 p {
        font-size: 10px;
    }

    /* Last Container 6 */

    /* First Container 7 */
    .container7 {
        gap: 90px;
        flex-direction: column;
        top: 100px;
    }

    .img-container7 img {
        width: 150px;
        height: 150px;
    }

    .rating {
        gap: 20px;
    }

    .rating h2 {
        font-size: 18px;
    }

    .star-rating img {
        width: 22px;
        height: 22px;
    }

    /* Last Container 7 */

    /* First Container 8 */
    .container8 {
        margin-top: 220px;
        margin-bottom: 100px;
    }

    .container8 h2 {
        font-size: 18px;
        width: 280px;
        text-align: center;
    }

    .daily-update {
        gap: 35px;
        flex-direction: column;
    }

    .head-daily-card img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    /* Last Container 8 */

    /* First Footer */

    .isi-footer1 {
        gap: 50px;
        flex-direction: column;
        height: 400px;
    }

    .img-footer>img {
        width: 100px;
    }

    .text-footer {
        width: 280px;
    }

    .head-text-footer h6 {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .body-text-footer p {
        font-size: 8px;
        text-align: center;
    }

    .isi-footer2 p {
        font-size: 8px;
    }

    /* Last Footer */
}

/* Last Media Screen Hp Kecil */