<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link href="../static/asset/css/addmenu.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      let menu_give = $("#profile").attr('src');

      $('.file-upload').on('change', function () {
        let files = $(this)[0].files;
        for (let i = 0; i < files.length; i++) {
          let file = files[i];
          let reader = new FileReader();
          reader.onload = function (e) {
            if (file.type.match('image.*')) {
              $('#display-file').empty();
              $('#display-file').append(`<img id="posted-file" class="gambar" src="${e.target.result}" alt="${file.name}" onclick="trigger()"/>`);
            } else if (file.type.match('video.*')) {
              // $('#display-file').empty();
              // $('#display-file').append(`<video width="320" height="240" id="posted-file" controls><source src="${e.target.result}" type="${file.type}" /></video>`);
              alert('tidak dapat mengunggah file video')
            }
          };
          reader.readAsDataURL(file);
        }
      });
    })
    function trigger() {
      $("#gambar").trigger('click')
    }
    function addmenu() {
      let gambar = $("#gambar").prop('files')[0];
      let gambars = $("#gambar").val();
      let judulproduk = $("#judulproduk").val();
      let deskripsiproduk = $("#deskripsiproduk").val();
      let harga = $("#harga").val();
      let kategori = $("#kategori").val();
      if (!gambars) {
        alert('mohon mengisi foto produk')
      } else if (!judulproduk) {
        alert('mohon mengisi judul produk')
      } else if (!deskripsiproduk) {
        alert('mohon mengisi deskripsi produk')
      } else if (!harga) {
        alert('mohon masukan harga')
      } else {
        let form_data = new FormData();
        form_data.append('fotoproduk_give', gambar);
        form_data.append('judulproduk_give', judulproduk);
        form_data.append('deskripsiproduk_give', deskripsiproduk);
        form_data.append('harga_give', harga);
        form_data.append('kategori_give', kategori);

        $.ajax({
          type: 'POST',
          url: '/◻︎□︎⬧︎⧫︎□︎❒︎♋︎■︎♑︎',
          data: form_data,
          contentType: false,
          processData: false,
          success: function (response) {
            alert(response['msg'])
            window.location.reload();
          }
        })
      }

    }
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="../static/assets/img/Logo-FA-Primary-Color-01.png" alt="">
        <span class="d-none d-lg-block">Why Not Coffee</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin-control-room/adminb">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Menu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin-menu-addmenu-adminb" class="active">
              <i class="bi bi-circle"></i><span>Add Menu</span>
            </a>
          </li>
          <li>
            <a href="/admin-menu-deletemenu-adminb">
              <i class="bi bi-circle"></i><span>Delete Menu</span>
            </a>
          </li>
          <li>
            <a href="/admin-menu-editmenu-adminb">
              <i class="bi bi-circle"></i><span>Edit Menu</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Menu</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="menu-container">
          <div class="menu-card-grid">
            <div class="card-body">
              <div id="display-file">
                <img src="https://whynotcoffee.id/wp-content/uploads/2020/12/Mocha-Milkshake2.jpg" alt=""
                  onclick="trigger()">
              </div>
              <input type="file" class="file-upload" accept="image/*" id="gambar" style="display: none;" />
              <div class="card-content">
                <div class="card-title">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="judulproduk" placeholder="judul produk">
                    <label for="judulproduk">Judul Produk</label>
                  </div>
                  <div class="form-floating">
                    <textarea type="text" class="form-control" id="deskripsiproduk"
                      placeholder="deskripsi produk"></textarea>
                    <label for="deskripsiproduk">deskripsi Produk</label>
                  </div>
                  <div class="form-floating">
                    <select class="form-select" id="kategori" aria-label="status">
                      <option value="expresso base" selected>Expresso Base</option>
                      <option value="coffee">Coffee</option>
                      <option value="manual brew">Manual Brew</option>
                      <option value="bottle">Bottle</option>
                    </select>
                    <label for="kategori">kategori</label>
                  </div>
                  <button type="button" class="btn btn-outline-success" onclick="addmenu()"><i
                      class="bi bi-plus-circle-fill"></i></button>
                </div>
                <div class="card-price">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="harga" placeholder="harga">
                    <label for="harga">Harga</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="../static/assets/vendor/quill/quill.min.js"></script>
  <script src="../static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>